{% extends 'layouts/app.html' %}

{% block title %}FAQ-snake eyes application{% endblock %}
{% block heading %}<h2>FAQs</h2>{% endblock %}
{% block body %}
	<h3>I use RANDOM.ORG a lot. How can I show my appreciation?</h3>
  <p>
   Excellent question! We suggest you either register for a RANDOM.ORG account or make a donation to Concern. In case you don't know them, Concern is a charity that helps poor people in the third world achieve self-sustainable improvements in their lifestyles. We recommend them because we agree with their mission statement (which they unfortunately removed as per January 2010, but it used to be here) and because they are pretty efficient compared to many of the other charities we have looked at. If you decide to make a donation to Concern because of RANDOM.ORG, it'd be great if you could tell us about it, since Concern don't automatically do that. (We suppose they have better things to do.) And it makes us so happy!
  </p>
  <hr>
  <h3>Can I download the generator software and run it on my own computer?</h3>
  <p>
    No. It's not just the software you'd need, but also three radios (or one, at any rate), which must be carefully adjusted to pick up atmospheric noise at the right volume. It's not completely trivial to set up.
  </p>

{% endblock %}