{% extends 'layouts/base.html' %}

{% block title %}Frequently asked snake game questions {% endblock %}
{% block meta_description %} The most asked question among user about how our games works {% endblock %}

{% block body %}
	
	<h1> FREQUENTLY ASKED QUESTIONS </h1>

	<h2> What is the snake game app </h2>
	<p> The Fake Mail Generator is a website that allows you to circumvent email confirmations by giving you a one time email address to use. 
	Next time a site asks for your email address, give them a Fake Mail Generator 
	address and avoid the spam that is sure to follow.</p>

	<hr>

	<h2> Do you send spam or other e-mail? </h2>
	<p> The Fake Mail Generator is a website that allows you to circumvent email confirmations by giving you a one time email address to use. 
	Next time a site asks for your email address, give them a Fake Mail Generator 
	address and avoid the spam that is sure to follow.</p>

	<hr>

	<h2> When will i get my money if i win ? </h2>
	<p> The Fake Mail Generator is a website that allows you to circumvent email confirmations by giving you a one time email address to use. 
	Next time a site asks for your email address, give them a Fake Mail Generator 
	address and avoid the spam that is sure to follow.</p>

	<hr>

	<h2> Do you give discount ? </h2>
	<p> The Fake Mail Generator is a website that allows you to circumvent email confirmations by giving you a one time email address to use. 
	Next time a site asks for your email address, give them a Fake Mail Generator 
	address and avoid the spam that is sure to follow.</p>

	<hr>

	<h2> Do you send spam or other e-mail? </h2>
	<p> The Fake Mail Generator is a website that allows you to circumvent email confirmations by giving you a one time email address to use. 
	Next time a site asks for your email address, give them a Fake Mail Generator 
	address and avoid the spam that is sure to follow.</p>


{% endblock %}